/* MEDIA QUERIES:MIN ==================== */
@media (min-width: 992px) {
    .hidden-device-md {
        display: none !important;
    }

    /* HEADER  */
    .header-nav .header-menu {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

/* MEDIA QUERIES:MAX ==================== */
@media (max-width: 991px) {
    /* COMPONENT */
    /* DEFAULT ====================*/

    /* SECTION ====================*/
    /* COLLECTION ACTION */
    .collection-action {
        --item-height: 3.2rem;
    }

    .view-toggle-btn {
        width: 4.5rem;
    }

    .view-toggle-btn:nth-child(1) {
        padding-left: var(--spacing-3xs);
    }

    .view-toggle-btn:nth-child(2) {
        padding-right: var(--spacing-3xs);
    }

    /* FILTER */
    .filter .filter-trigger {
        padding: var(--spacing-5xs) var(--spacing-2xs);
    }

    .filter .filter-menu {
        top: calc(100% + var(--spacing-3xs));
    }

    /* CTA */
    [data-section='cta'] .sc-title-text-wrapper,
    [data-section='cta'] [class*='block-content-'] {
        max-width: 35.8rem;
    }
    /* SERVICES */
    [data-section='services'] {
        --gap: var(--spacing-xl);
    }
    [data-section='services'] .sc-header {
        flex-direction: column;
        gap: var(--spacing-2lg);
    }

    [data-section='services'] .sc-header .sc-ttl,
    [data-section='services'] .sc-header .services-list {
        width: 100%;
    }

    [data-section='services'] .content .service-counter {
        width: auto;
        flex-shrink: 0;
    }
    [data-section='services'] .content .service-items-container {
        width: 69.2737430168%;
    }

    [data-section='services'] .sc-header .services-list {
        gap: var(--spacing-5xs);
        font-size: var(--font-size-h5);
        line-height: var(--line-height-h5);
    }

    [data-section='services'] .content {
        justify-content: space-between;
    }

    [data-section='services'] .service-counter {
        font-size: var(--font-size-h1);
    }

    [data-section='services'] .service-item .item-ttl {
        font-size: var(--font-size-h3);
        line-height: var(--line-height-h3);
    }

    /* ELEMENT ====================*/
    /* WORK GRID */
    .work-collection-grid {
        grid-template-columns: 1fr;
        gap: var(--spacing-xs);
    }

    [data-card='work-grid'].horizontal,
    [data-card='work-grid'].square {
        grid-column: span 1;
    }

    .fancybox__container .fancybox__slide.has-html {
        padding-top: var(--spacing-4xl);
    }

    .work-fancybox-content {
        width: calc(100% - var(--spacing-container) * 2);
        height: auto;
    }

    .work-fancybox-content .content-inner {
        flex-direction: column-reverse;
        gap: var(--spacing-2lg);
    }

    .work-fancybox-content .content-gallery {
        width: 100%;
    }

    .work-fancybox-content .content-text {
        padding-top: 0;
    }

    .work-fancybox-content .content-text .content-ttl {
        margin-bottom: var(--spacing-2lg);
    }

    .work-fancybox-content .content-text .content-grid {
        grid-template-columns: 1fr;
        grid-template-rows: unset;
    }

    .work-fancybox-content .content-grid .grid-item:is(:nth-child(3), :nth-child(4)) {
        grid-column: span 1;
    }

    .work-fancybox-content .content-grid .grid-item .item-subttl {
        margin-bottom: var(--spacing-6xs);
    }

    .work-fancybox-content .content-grid .grid-item .work-type-tag {
        padding: var(--spacing-5xs) var(--spacing-2xs);
    }

    /* WORK LIST */
    .work-collection-list:after {
        content: none;
    }

    [data-card='work-list'] {
        grid-template-columns: 1fr 6rem;
    }

    [data-card='work-list'] .card-header {
        padding: var(--spacing-md) 0;
    }

    /* LIQUID GLASS */
    .liquid-glass {
        /* Use mobile values on small screens */
        width: var(--width-mb);
        height: var(--height-mb);
        border-radius: var(--radius-mb);
    }

    /* SECTION TITLE TEXT */
    .sc-title-text > * {
        margin-top: 0;
    }

    .vw-ttl {
        font-size: 12.8205128205vw;
    }

    /* HEADER  */
    .header-actions {
        display: flex;
        gap: var(--spacing-2xs);
        align-items: center;
    }

    .panel {
        position: fixed;
        z-index: 99;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100dvh;
        background-color: var(--color-blue);
        overflow: hidden;
        z-index: 95;
        pointer-events: none;
        transition: transform var(--duration-x3) cubic-bezier(0.85, 0, 0.15, 1);
        transform: translateX(100%);
    }

    html.header-menu-enabled .panel {
        pointer-events: auto;
        transform: translateX(0);
    }

    .header-actions .button span {
        transition-delay: var(--duration-x2);
    }

    html.header-menu-enabled .header-actions .button {
        --bg-color: var(--color-light-blue);
        transition-delay: 0;
    }

    .panel-scroll {
        --mask-box-image-offset: var(--spacing-md);
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -ms-scroll-chaining: none;
        overscroll-behavior: contain;
        -webkit-mask-box-image: -webkit-linear-gradient(
            -90deg,
            transparent 0%,
            white var(--mask-box-image-offset),
            white calc(100% - var(--mask-box-image-offset)),
            transparent 100%
        );
        scrollbar-width: none;
        -ms-overflow-style: none;
        &::-webkit-scrollbar {
            display: none;
        }
    }

    .panel-body {
        min-height: 100dvh;
        padding: calc(var(--header-height) + var(--spacing-xl)) var(--spacing-container)
            var(--spacing-md);
    }

    .header-menu .menu {
        flex-direction: column;
        gap: var(--spacing-2sm);
    }

    .header-menu .menu li a {
        font-size: var(--font-size-h2);
        line-height: var(--line-height-h2);
    }

    .header-menu .menu .popup {
        width: fit-content;
    }

    .header-menu .menu .popup {
        font-size: var(--font-size-h4);
        line-height: var(--line-height-h4);
    }

    .header-menu .menu .popup-trigger .ic {
        font-size: var(--icon-size-2xs) !important;
    }

    /* FOOTER */
    #footer {
        padding: var(--spacing-xl) var(--spacing-container);
    }

    .footer-nav {
        flex-direction: column;
        gap: var(--spacing-xl);
    }

    .footer-logo {
        width: 100%;
    }

    .footer-info {
        width: 100%;
        gap: var(--spacing-2lg);
    }

    .footer-info .info-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    /* PAGE */
    /* PAGE: INDEX */
    /* HERO */
    [data-section='homepage-hero'] .container {
        width: 100%;
    }

    [data-section='homepage-hero'] .sc-title-text > *:nth-child(2) {
        margin-left: 10vw;
    }

    [data-section='homepage-hero'] .sc-title-text > *:nth-child(3) {
        margin-left: auto;
        margin-top: -1.5vw;
    }
    [data-section='homepage-hero'] .sc-title-text > *:nth-child(4) {
        margin-top: -1vw;
    }

    [data-section='homepage-hero'] .block-content-start {
        margin-top: var(--spacing-xl);
        max-width: unset;
    }

    /* ABOUT CTA */
    [data-section='about-cta'] .container {
        flex-direction: column;
    }

    [data-section='about-cta'] .container > [class*='block-content-']:first-child {
        width: 100%;
        position: static;
    }

    [data-section='about-cta'] .about-stats-container {
        width: 100%;
        gap: var(--spacing-md);
    }

    [data-section='about-cta'] .about-stat-card {
        padding: var(--spacing-xs) var(--spacing-sm);
    }

    /* FEATURED WORKS */
    [data-section='featured-works'] {
        --content-gap: var(--spacing-2lg);
    }

    [data-section='featured-works'] .sc-cta {
        flex-direction: column;
        align-items: flex-start;
        gap: var(--spacing-2sm);
    }

    /* PAGE: WORK */
    /* WORK HERO */
    [data-section='work-hero'] .sc-title-text > .vw-ttl:nth-child(2) {
        text-align: left;
    }

    [data-section='work-hero'] [class*='block-content-'] {
        margin-top: var(--spacing-6xl);
    }

    /* PAGE: SERVICE */
    /* SERVICE HERO */
    [data-section='service-hero'] .sc-title-text > .vw-ttl:nth-child(2) {
        margin-left: 0%;
    }
    [data-section='service-hero'] .sc-title-text > .vw-ttl:nth-child(3) {
        text-align: left;
        text-wrap: balance;
    }

    [data-section='service-hero'] .hero-desc {
        flex-direction: column;
    }

    /* PAGE: NOT FOUND */
    /* NOT FOUND */

    [data-section='not-found'] .no-found-content {
        width: 100%;
        align-items: flex-start;
    }

    [data-section='not-found'] .sc-title-text > .vw-ttl {
        margin-top: 0;
        font-size: 23.07692307692vw;
    }

    [data-section='not-found'] .sc-title-text > .vw-ttl:last-child {
        text-align: center;
    }

    [data-section='not-found'] .sc-subttl {
        max-width: 70.2564102564vw;
        font-size: 7.6923076923vw;
        position: static;
        animation: fadeIn 0.5s ease-in-out 0.5s forwards;
    }

    [data-section='not-found'] .not-found-cta {
        margin-top: 4.5128205128vw;
        align-self: center;
        font-size: 6.1538461538vw;
        padding: 3.07692307692vw 6.1538461538vw;
    }

    /* PAGE: ABOUT */
    /* ABOUT HERO */
    [data-section='about-hero'] .vw-ttl {
        font-size: 12.8205128205vw;
    }

    [data-section='about-hero'] .hero-desc {
        flex-direction: column;
    }

    /* PAGE: CONTACT */
    /* CONTACT */

    [data-section='contact-info'] .contact-card {
        width: 100%;
        height: auto;
        aspect-ratio: 1;
    }

    [data-section='contact-info'] .contact-card .back .back-inner {
        flex-direction: column;
        width: 100%;
        height: 100%;
        padding: var(--spacing-lg) var(--spacing-sm);
    }

    [data-section='contact-info'] .contact-card .back .card-desc {
        width: 100%;
        text-align: center;
    }

    [data-section='contact-info'] .contact-card .back .card-contact-info {
        width: 100%;
    }
}
