/* COMPONENT */
/* DEFAULT ====================*/

/* SECTION ====================*/

/* ELEMENT ====================*/
/* POPUP */
.popup {
  position: relative;
}

.popup-trigger {
  display: flex;
  gap: var(--spacing-4xs);
  align-items: center;
}

.popup.active .popup-trigger .ic::before {
  transform: rotate(180deg);
}

.popup-content {
  padding: var(--spacing-2sm) var(--spacing-sm);
  border-radius: 0.8rem;
  background-color: var(--color-white);
  box-shadow: 0 0.4rem 1.6rem rgba(0, 0, 0, 0.1);
  position: absolute;
  top: calc(100% + var(--spacing-4xs));
  left: 0;
  z-index: 100;
  color: var(--color-navy-blue);
  transition: var(--duration) var(--timing-function);
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
}

.popup.active .popup-content {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

.popup-content .active {
  color: var(--color-blue);
}

.popup[data-popup-pc-location='start'] .popup-content {
  left: 0;
}

.popup[data-popup-pc-location='center'] .popup-content {
  left: 50%;
  transform: translateX(-50%);
}

.popup[data-popup-pc-location='end'] .popup-content {
  right: 0;
}

/* HEADER  */
#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.header-nav {
  padding: 0 var(--spacing-container);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--header-height);
}

.header-nav > *:is(.header-actions, .header-brand) {
  position: relative;
  z-index: 10;
}

.header-nav .header-menu {
  position: relative;
  z-index: 5;
}

.header-brand .logo {
  height: var(--logo-height);
  width: auto;
}

.header-menu .menu {
  display: flex;
  gap: var(--spacing-2md);
}

/* CURSOR FOLLOWER */
.cursor-follower {
  position: fixed;
  top: 0;
  left: 0;
  width: 1rem;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: #d9d9d9;
  pointer-events: none;
  z-index: 9999;
  transform: translate(-50%, -75%);
  overflow: hidden;
  opacity: 0;
  transition:
    width var(--duration) var(--timing-function),
    background-color var(--duration) var(--timing-function);
  will-change: transform;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (hover: hover) and (pointer: fine) {
  .cursor-follower {
    opacity: 1;
  }
}

.cursor-follower span {
  opacity: 0;
  visibility: hidden;
  transition: opacity var(--duration) var(--timing-function);
  font-size: var(--font-size-small);
  line-height: var(--line-height-small);
  color: var(--color-white);
}

.cursor-follower.is-hovering {
  width: 1.6rem;
  background-color: var(--color-light-blue);
}

.cursor-follower.is-hovering-view {
  width: 4rem;
  background-color: var(--color-blue);
}

.cursor-follower.is-hovering-view span {
  transition-delay: 0.1s;
  opacity: 1;
  visibility: visible;
}

/* FOOTER */

/* PAGE */
/* PAGE: INDEX */
