/* COMPONENT */
/* DEFAULT ====================*/

/* SECTION ====================*/

/* ELEMENT ====================*/
/* HEADER  */
#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.header-nav {
  padding: 0 var(--spacing-container);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--header-height);
  transition: background-color var(--duration-x2) var(--timing-function);
}

.header-brand .logo {
  height: var(--logo-height);
  width: auto;
  transition: filter var(--duration-x2) var(--timing-function);
}

/* FOOTER */

/* PAGE */
/* PAGE: INDEX */
